<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392033418773-bv4i3877i5nj9dbv0ohvv4sumngtnmci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392033418773-bv4i3877i5nj9dbv0ohvv4sumngtnmci</string>
	<key>API_KEY</key>
	<string>AIzaSyBZRV0Skv8pWySLwp1zwb4HsChfSE-jHp0</string>
	<key>GCM_SENDER_ID</key>
	<string>392033418773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lch.MyChat</string>
	<key>PROJECT_ID</key>
	<string>mychat-a6204</string>
	<key>STORAGE_BUCKET</key>
	<string>mychat-a6204.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392033418773:ios:9b22f5d01b2a84dd06981c</string>
	<key>DATABASE_URL</key>
	<string>https://mychat-a6204.firebaseio.com</string>
</dict>
</plist>